
src/WebApp/instance/rickman-de167-firebase-adminsdk-99sn0-b2c780d3f0.json
src/CNN/DataPrep.ipynb
src/CNN/main.py
src/CNN/models/BrainTumor.h5
src/CNN/models/BrainTumor10Epochs.h5
src/CNN/models/bt_resnet50_model.pt
src/CNN/ResNetClassifier.ipynb
src/CNN/results/accuracy_metrics.png
src/CNN/results/cm.png
src/CNN/results/loss_metrics.png
src/CNN/test_images/1.jpg
src/CNN/test_images/11_no.jpg
src/CNN/test_images/5_no.jpg
src/CNN/test_images/9_no.jpg
src/CNN/test_images/filtered_Y11.jpg
src/CNN/test_images/filtered_Y12.jpg
src/CNN/test_images/filtered_Y181.jpg
src/CNN/test_images/filtered_Y50.JPG
src/CNN/test_images/filtered_Y8.jpg
src/CNN/test_images/No19.jpg
src/CNN/test_images/No21.jpg
src/CNN/test_images/no_7.jpeg
src/CNN/test_images/op.jpg
src/CNN/test_images/test0.jpg
src/CNN/test_images/test1.jpg
src/CNN/test_images/test10.jpg
src/CNN/test_images/test11.jpg
src/CNN/test_images/test12.jpg
src/CNN/test_images/test2.jpg
src/CNN/test_images/test3.jpg
src/CNN/test_images/test4.jpg
src/CNN/test_images/test5.jpg
src/CNN/test_images/test6.jpg
src/CNN/test_images/test7.jpg
src/CNN/test_images/test8.jpg
src/CNN/test_images/test9.jpg
src/CNN/test_images/Y12.jpg
src/CNN/test_images/Y38.jpg
src/CNN/test_images/Y44.JPG
src/CNN/test_images/Y56.jpg
src/CNN/test_images/Y6.jpg
src/CNN/test_images/Y69.jpg
src/CNN/test_images/Y7.jpg
src/CNN/test_images/Y8.jpg
src/CNN/test_images/Y9.jpg
src/CNN/train.ipynb
src/WebApp/app.py
src/WebApp/app.py
src/WebApp/app.py
src/WebApp/app.py
src/CNN/model2/model-07-0.97-0.14.h5
src/CNN/models/model.pkl
src/CNN/models/seg_model.h5
src/CNN/Yolo/Tumor seg(x).pt
src/CNN/Yolo/Tumor seg(x).pt
